.left{
    width: 35%;   
    height: 420px;
    margin-left: 30px;
    margin-top: 50px;
    padding: 20px;
}


.left p{
    font-size: xx-large;
    color: rgb(2, 0, 31);
    font-weight: 900;
}

.right{
    text-align: center;
    width: 50%;
    height: 500px;
    background-image: url(../images/ocr-removebg-preview.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position-x: center;
    background-position-y: center;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 160px;
    background-color: #F0F3F9;
    width: 100%;
    margin: 0 auto;
    
    
     
}

.right img{
   
     max-width: 85%;
     animation-duration: 4s;
     height: 85%;  
   
      
}




@media (max-width:1300px) {
    .left{
    width: 40%;   
    height: 350px;
    margin-left: 30px;
    padding: 10px;
    
    
}
.left p{
    font-size: 25px;
    margin-top: 10%;
}
p{
    font-size: xx-large;
    color: rgb(0, 0, 0);
    font-weight: 600px;
}
.right{
    height: 450px;
    padding: 10px;
}
}

@media (max-width:1000px) {
    .left{
    width: 40%;   
    height: 330px;
    margin-left: 20px;
    padding: 10px;
    
}
.left p{
    font-size: 20px;
}
p{
    font-size: 24px;
    color: rgb(0, 0, 0);
    font-weight: 400px;
}
.right{
    height: 400px;
    padding: 10px;
}
.section1{
    padding-top: 130px;
}
}

@media (max-width:900px) {
    .left{
    width: 35%;   
    height: 300px;
    margin-left: 20px;
    padding: 15px;
    margin-top: 50px;
}
.left p{
    font-size: 16px;
}
p{
    font-size: 18px;
    color: rgb(0, 0, 0);
    font-weight: 300px;
}
.right{
    height: 400px;
    padding: 10px;
}
.right img{
   
    max-width: 75%;
   
   height: 70%;  

      
}
.section1{
    padding-top: 90px;
}
}

@media (max-width:800px) {
    .left{
    width: 40%;   
    height: 280px;
    margin-left: 15px;
    padding: 10px;
    
}
.left p{
    font-size: 25px;
    margin-top: 10%;
}
.left p{
    font-size: 14px;
    margin-top: 12%;
}
p{
    font-size: 16px;
    color: rgb(0, 0, 0);
    font-weight: 300px;
   
}
.right{
    height: 360px;
    padding: 8px;
}
.right img{
   
    max-width: 85%;
   
   height: 68%;  

      
}
.section1{
    padding-top: 60px;
}
}


@media (max-width:700px) {
    .left{
    width: 36%;   
    height: 250px;
    margin-left: 15px;
    padding: 8px;
    
}
.left p{
    font-size: 12px;
    margin-top: 18%;
}
p{
    font-size: 15px;
    color: rgb(0, 0, 0);
    font-weight: 150px;
    margin-top: 40px;
}
.right{
    height: 350px;
    padding: 10px;
    margin-bottom: 0;
}
.right img{
   
    max-width: 85%;
   
   height: 65%;  

      
}
.section1{
    padding-top: 50px;
}
}

@media (max-width:550px) {
    .left{
    width: 35%;   
    height: 250px;
    margin-left: 12px;
    padding: 8px;
    
}
.left p{
    font-size: 10px;
    margin-top: 25%;
}
p{
    font-size: 12px;
    color: rgb(0, 0, 0);
    font-weight: 200px;
}
.right{
    height: 300px;
    padding: 10px;
}
.right img{
   
    max-width: 75%;
   
   height: 50%;  

      
}
.section1{
    padding-top: 70px;
}
}
@media (max-width:450px) {
    .left{
        width: 80%;
        margin: 0 auto;
        text-align: center;
    height: 180px;
    margin-left: 10px;
    padding: 5px;
    
}.left p{
    text-align: center;
    margin: 0px 0px 0px;
    font-size: 18px;
    width: 95%;
    margin: 0 auto;
    margin-left: 10%;
    margin-top: 12%;
}
.section1{
    display: flex;
    flex-direction: column;
}
p{
    font-size: 9px;
    color: rgb(0, 0, 0);
    font-weight: 150px;
}
.right{
    width: 85%;
    height: 330px;
    padding: 3px;
    margin-top: 0;
}
.right img{
   
    max-width: 90%;
   height: 52%;  
   margin-left: 30%;

      
}

.section1{
    padding-top: 50px;
  
}
}

@media (max-width:380px) {
    .left{
    margin-left: 8px;
    padding: 3px;
    margin-top: 7%;
    
}
.left p{
    font-size: 16px;
    margin-top: 10%;
}
p{
    font-size: 7px;
    color: rgb(0, 0, 0);
    font-weight: 100px;
}
.right{
    height: 220px;
    padding: 5px;
}
.right img{
   
    max-width: 90%;
   height: 55%;  

      
}
.section1{
    padding-top: 30px;
}
}

@media (max-width:300px) {
    .left{
    width: 40%;   
    height: 200px;
    margin-left: 5px;
    padding: 3px;
    
}
p{
    font-size: 5px;
    color: rgb(0, 0, 0);
    font-weight: 50px;
}
.right{
    height: 210px;
    padding: 3px;
}
.right img{
   
    max-width: 85%;
   
   height: 44%;  

      
}
.section1{
    padding-top: 20px;
}
}

